.git
.gitignore
.dockerignore
*.md
*.txt
.env.local
.env.*.local
node_modules
npm-debug.log
.DS_Store
Thumbs.db
.vscode
.idea
.VSCodeCounter
__pycache__
.pytest_cache
.github
docker-compose.yml
.gitattributes
.editorconfig
